*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}
.img-logo{
    max-width: 65%;
}
.lh-0{
    line-height: 0.4;
}
.font-small,input::placeholder {
    font-size: 0.9rem;

}
a.dropdown-toggle , button:focus ,button.navbar-toggler,button.navbar-toggler:focus{
    outline: none;
    border: none;
}
.nav-down *,.nav-link{
    font-size: 0.9rem ;
    font-weight: 500;
}
a.dropdown-toggle:hover{
    color: red;

}
a{
    text-decoration: none;
}
a:hover{
    color: red !important;;
}
.navbar-nav .nav-link.active {
    color: red;
}
.nav-link{
    color: #000;
    
}
.img-slider{
    max-width: 65%;
}
#slide1{
    background-color: #84a5a9;
}
#slide2{
    background-color: #cca684;
}
#slide3{
    background-color: #E65947;
}
.carousel-caption{
    left: 5%;
}
.carousel-inner{
    
    height: 98% !important;
    overflow: hidden;

}
#img-camera{
    max-width: 55%;
    
}
#img-chair{
    max-width: 62%;    
   
}
.ml-35{
    margin-left:35%;
}
.carousel-indicators button {
    width:0.8rem !important ;
    height: 0.8rem !important;  
    border-radius: 50% !important; 
    margin: 1%  !important;
    /* border: 0px solid !important;   */
}
.specialCard{
    border-radius: 0% !important;
    border: none !important;
    overflow: hidden;
}
.card-img-overlay{
    padding:2rem 3rem;
}
.specialCard span{
    top: 5%;
    left: 83%;
    padding:2rem 0.8rem 0.8rem 0.8rem;
    aspect-ratio: 1/1;
}
.div-icon:hover i{
    color: black !important;
}
.img-circle{
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.h-div{
    background-color: #000;
    display: none;
}
.div-img-circle:hover .h-div{
    display: block;

}
.card-img {
    transition: transform 0.6s ease;

}
.scale-img:hover img ,.specialCard:hover .card-img{
    transform: scale(1.1);

}
#new-coll-p{
    color: #CF600F;
}
.card-img-overlay a{
    color: white;
}
.card-img-overlay-b{
    top: 50% !important;
}
.hov-white:hover{
    color: white !important;
}
#search-pro{
    background-color: #EBEEF0;
    height: 25rem;

}
#search-pro .col-6{
    margin-left: 24%;
    padding-top: 8%;
}
input::placeholder{
    color: gray !important;
}
.btn-dark:hover{
    background-color: red;
    border: red;
}
.card:hover .opc-img{
    opacity: 0.8;
}
.hoodie-img{
    max-width: 35%;
}
/* .card{
    height: 27rem;
} */
