*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.img-logo{
    max-width: 65%;
}
.lh-0{
    line-height: 0.4;
}
.font-small,input::placeholder {
    font-size: 0.9rem;

}
a.dropdown-toggle , button:focus ,button.navbar-toggler,button.navbar-toggler:focus{
    outline: none;
    border: none;
}
.nav-down *,.nav-link{
    font-size: 0.9rem ;
    font-weight: 500;
}
a.dropdown-toggle:hover{
    color: red;

}
a{
    text-decoration: none;
}
a:hover ,.div-img-circle:hover a{
    color: red !important;;
}
.navbar-nav .nav-link.active {
    color: red;
}
.nav-link{
    color: #000;
    
}
.img-slider{
    max-width: 65%;
}
#slide1 ,#btn-green:hover{
    background-color: #84a5a9;
}
#slide2 ,#btn-bage:hover {
    background-color: #cca684;
}
#slide3 ,#btn-red:hover{
    background-color: #E65947;
}
.btn-light:hover{
    border: 1px solid white;
}
.carousel-caption{
    left: 5%;
}
.carousel-inner{
    
    height: 98% !important;
    overflow: hidden;

}
#img-camera{
    max-width: 55%;
    
}
#img-chair{
    max-width: 62%;    
   
}
.ml-35{
    margin-left:35%;
}
.carousel-indicators button {
    width:0.8rem !important ;
    height: 0.8rem !important;  
    border-radius: 50% !important; 
    margin: 1%  !important;
}
.specialCard{
    border-radius: 0% !important;
    border: none !important;
    overflow: hidden;
}
.card-img-overlay{
    padding:2rem 3rem;
}
.specialCard span{
    top: 5%;
    left: 83%;
    padding:2rem 0.8rem 0.8rem 0.8rem;
    aspect-ratio: 1/1;
}
.div-icon:hover i ,.effect-3:hover{
    color: black !important;
}
.img-circle ,.h-div,.d-timer{
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.h-div{
    background: rgba(0,0,0,0.4);
    top:0;
    width: 100%;
    display: none;   
}
.h-div i {
    margin-top: 44%;
}
.div-img-circle:hover .h-div{
    display: block;

}
.card-img {
    transition: transform 0.6s ease;

}
.scale-img:hover img ,.specialCard:hover .card-img {
    transform: scale(1.1);

}
#new-coll-p{
    color: #CF600F;
}
.card-img-overlay a ,.btn-light:hover{
    color: white;
    
}
.card-img-overlay-b{
    top: 50% !important;
}
.hov-white:hover{
    color: white !important;
}
#search-pro{
    background-color: #EBEEF0;
    height: 25rem;

}
#search-pro .col-6{
    margin-left: 24%;
    padding-top: 8%;
}
input::placeholder{
    color: gray !important;
}
.btn-dark:hover{
    background-color: red;
    border: red;
}
.card:hover .opc-img{
    opacity: 0.8;
}
.hoodie-img{
    max-width: 35%;
}
/* .card{
    height: 27rem;
} */
input:focus{
    border: none !important;
    outline: none !important;
}


.effect-3{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    
}

.effect-3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background:black; 
    transition: 0.4s;
}

.effect-3:hover::before{
    transform: translateX(-100%);
   
}


/*CodePen Home
Animating link underline (using CSS transform scale)*/
#sec-hoodie{
    height: 38rem !important;
    
}
.div-card-hoodie{
    top: 10% !important;
    left: 55% !important;
}
#buyNow:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}
.ml-10{
    margin-left: 10%;
}
#sec-hoodie span{
    top:25% !important;
    left:40% !important;
    width: 6rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding-top: 2%;
    z-index: 1;
   
}
.d-timer{
    width: 35px;
    height: 35px;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    background-image: none !important;
    
}
.carousel-control-next,.carousel-control-prev{
    bottom: 35%
}
.owl-nav{
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 100%;
    /* padding-left: 1%;
    padding-right: 1%; */
    justify-content: space-between;
    display: none;
    
}
.owl-prev ,.owl-next{
    background-color:white !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 2%;
    
    
    
}
.owl-prev span ,.owl-next span{
    font-size: 30px;
    
}

.owl-carousel:hover .owl-nav{
    display:flex ;
}
.owl-prev:hover ,.owl-next:hover {
    background-color: #000 !important;
    color: white !important;
}
